/HTML5Git/nbproject/private/
/HTML5_Template/nbproject/private/
/HTML5_Intro/nbproject/private/
/HTML5_Canvas_Demo/nbproject/private/
/MMT_Canavas_Demo/nbproject/private/
/EventAnimationDemo/build/
/EventAnimationDemo/nbproject/private/
/HCI_jQuery/nbproject/private/
/MMT_jQuery/nbproject/private/
/MMT_Bootstrap/nbproject/private/
/MMT_REST_Demo/dist/
/MMT16_User_Service/build/
/MMT16_Bootstrap/nbproject/private/
/MMT16_Bootstrap2/nbproject/private/