.body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.register,
.login {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 45vw;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form_info {
  display: flex;
  justify-content: space-evenly;
}

.form_column-1 {
  width: 15vw;
}
.form_column-1 input {
  margin-bottom: 1rem;
  padding: 0.6rem;
  border: 1px solid black;
  transition: 0.5s all;
  border-radius: 4px;
}

.form_radioBtn:nth-of-type(3) {
  margin-bottom: 1rem;
}

.form_info + input {
  align-self: center;
  width: 7.5vw;
  font-size: 1.1rem;
  padding: 0.6rem;
  margin-top: 2rem;
  background-color: white;
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.5s all;
}
.form_info + input:hover {
  color: white;
  border: 1px solid white;
  background-color: black;
}

.form_radioBtn-container {
  display: flex;
  align-items: center;
  width: 8vw;
}
.form_radioBtn-container input {
  margin: 0.5rem;
}

.form_column-3 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.form_column-3 textarea {
  width: 200px;
  height: 200px;
  padding: 0.5rem;
  border: 1px solid black;
  border-radius: 4px;
}