.item {
  margin: 5px 0;
}

.item .right {
  float: right;
  margin: 5px 10px;
}

button {
  float: right;
  vertical-align: middle;
  color: white;
  margin: 0 5px;
}

button.btn-complete {
  background-color: cornflowerblue;
}

button.btn-cancel {
  background-color: crimson;
}
